<div class="container container-footer">
	<div class="splash text-center">
		<i class="fa fa-money fa-4x"></i>
		<p>Best Price</p>
	</div>
	<div class="splash text-center">
		<i class="fa fa-money fa-4x"></i>
		<p>Best Price</p>
	</div>
	<div class="splash text-center">
		<i class="fa fa-money fa-4x"></i>
		<p>Best Price</p>
	</div>
	<div class="splash text-center">
		<i class="fa fa-money fa-4x"></i>
		<p>Best Price</p>
	</div>
	<div class="splash text-center">
		<i class="fa fa-money fa-4x"></i>
		<p>Best Price</p>
	</div>
</div>