<div id="home-content" class="row">
	<% @categories.each do |c| %>
		<div id="list-category" class="col-md-4">
			<div class="category-footer">
				<span class="c-name"><%= c.category_name %></span>
				<span class="c-products"><%= pluralize(c.products.count, "Product") %></span>
			</div>
		</div>
	<% end %>
</div>