<% provide(:title, "Category") %>
<main>
	
</main>
<%= render 'header' %>
<div class="page-main-container row">
	<table class="table table-bordered table-hover"> 
		<thead> 
			<tr> 
				<th>#</th> 
				<th>Category Name</th> 
				<th>Items Count</th> 
				<th>Action</th> 
			</tr> 
		</thead> 
		<tbody> 
			<%= render @categories %>
		</tbody> 
	</table>
</div>
