<% provide(:title, "Product") %>

<div class="page-main-actions row">
  <%= form_tag admin_products_path, method: :get, id: "products_search", class: "navbar-form navbar-left", role: "search" do %>
  		<div class="form-group">
  		<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
  		</div>
  <% end %>
  <div class="navbar-right">
    <button type="submit" class="btn btn-default">Create Product</button>
  </div>
</div>
      
<div id="products"><%= render 'products' %></div>
