body {
	background: #f2f2f2;
}

.divider {
	height: 1px;
	background: #e5e5e5;
	margin: 5px 0;
}
#frontend-page {
	/* Header */

	.navbar {
		background: #fff;
		#header{
			background: transparent;

			.navbar-right {

				.btn-signup {
					a {
						padding: 5px 25px;
					    background: linear-gradient(268deg,#ea2f28 17%,#ff4000 100%);
					    margin-top: 10px;
					    color: #fff;
					    font-weight: 700;
					    border-radius: 2px;
					    transition: all 0.3s ease-out;
					}
					
				}

				i {
					padding: 10px 15px 10px 15px;
				}
				
			}
		}

		#search {
			input {
				width: 400px;
			}
		}
	}

	

	/* Content */
	#home-content {

		#list-category {

			&.col-md-4 {

				.category-footer {
				    margin-bottom: 10px;
				    background: #fff;
				    padding: 15px;
				    color: #666;

				    .c-products {
				    	float: right;
				    }

				}

				&:nth-child(1), &:nth-child(4), &:nth-child(7) {
					padding-right: 5px;
				}

				&:nth-child(2), &:nth-child(5), &:nth-child(8) {
					padding-right: 10px;
					padding-left: 10px;
				}

				&:nth-child(3), &:nth-child(6), &:nth-child(9) {
					padding-left: 5px;
				}
			}
			
		}
		
	}

	#account {

		.account-box {
			padding: 15px;
			background: #fff;
			border: 1px solid #e6e6e6;
			margin-bottom: 30px;
			min-height: 200px;
			.title {
				font-size: 20px;
				font-weight: 700;
			}
			ul {
				padding: 0;

				li {
					list-style: none;
					color: #545454;
					line-height: 25px;
				}
			}

		}

		.logistic-box {
			padding: 15px;
			background: #fff;
			border: 1px solid #e6e6e6;
			float: left;
			width: 100%;

			.logistic-list {
				padding: 0;

				li {
					list-style: none;
					float: left;
					width: 100%;
					margin: 10px ;

					.list-box {
						border: 1px solid #e8e8e8;
						padding: 10px 0;

						&:hover, &.active {
						background: #f4f8f9;
						box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);

							label {
								background: #fff;
							}

							.fa {
								color: #ea2f28;
							}
						}

						&.active {
							border-bottom: 1px dashed #e8e8e8;
						}
						label {
							background: #f4f8f9;
							border: 1px solid #607d8b;
							padding: 6px 30px;
							margin-left: 15px;
							margin-top: 10px;
							color: #607d8b;
							font-weight: normal;
						}

						.fa {
							margin-left: 10px;
						}
					}

					.details-content {
						border: 1px solid #e8e8e8;
						border-top: none;
						table {

							&.table {
								margin-top: 20px;
							}
							tr {
								&.list-info {
									td {
										width: 50%;
										padding-top: 15px;
								

										&:first-child {
											padding-right: 5px;
											strong {
												display: block;
											}
										}

										&:last-child {
											padding-left: 5px;
										}

										.info-box {
											border: 1px dashed #607d8b;
											padding: 25px;
											min-height: 190px;

											strong {
												label {
												    border: 1px solid #ea2f28;
												    padding: 5px 20px;
												    margin-left: 15px;
												    font-weight: normal;
												    border-radius: 3px;
												}
											}

											.info-pay {
												line-height: 25px;
												span, p { 
													display: inline-block;
												}

												p {
													float: right;
													margin: 0;
												}
											}
										}
									}
								}
								
							}
						}
						
					}
				}
			}
		}
	}

	/* Footer */

	#footer {
		background: #fff;
		margin-top: 25px;

		#footer-info {
			border-bottom: 1px solid #eee;
			padding: 25px 0px;

			.col-md-2 {
				border-right: 1px solid #eee;
				width: 20%;
				
				height: 215px;

				&.last {
					border-right: none;

					li {
						list-style: none;
						color: #28171b;
						margin-top: 5px;

						&.line {

							img {
								width: 20px;
								margin-right: 5px;
							}
						}

						.fa {
							margin-right: 5px;
							font-size: 20px;
							vertical-align: top;

						}
					}

				}

				.fa {
					color: #607d8b;
				}

				h4 {
					margin-top: 20px;
					font-size: 14px;
					font-weight: bold;
					color: #28171b;
				}

				span {
					color: #757573;
				}
			}

		}

		#footer-link {
			padding: 40px 0;

			li {
				list-style: none;

				a {
					color: #757573;
					font-size: 12px;

					&:hover {
						text-decoration: none;
						color: #e81100;
					}
				}
			}

			h4 {
				font-size: 14px;
				font-weight: bold;
				color: #28171b;
			}

			#subscription {

				input {
					font-size: 12px;
				}

				.btn {

					position: absolute;
				    right: 15px;
				    top: 35px;

				}
			}

			.fa {
				padding-right: 15px;
			}
		}

		#copyright {
	
			border-top: 2px solid #eee;
			padding: 15px 0;
		
		}

		
	}
}